{% extends '../../dist/templates/pages/base.html' %}
{% block page_title %}About Christ's Love Church {% endblock %}
{% load static %}

{% block content %}
<section class="about mb-4">
<div class="m-auto text-center text-white">
    <h1>About Us</h1>
    <h3 class="text-light">Learn more about Christ’s Love Church</h3>
</div>
</section>
<section class="mission-statement mb-5">
    <div class="container">
        <div class="row text-center my-5">
            <h1 class="mb-3">Mission & Ministry</h1>
            <div class="col-md-1">

            </div>
            <div class="col-md-5 my-5">
                <h2 class="heading">Our Mission</h2>
                <div class="px-5">
                    <span>Christ’s Abounding Love Church is a Global Evangelical ministry with its headquarters in Accra, Ghana. <br>
                        We are passionate about reaching others with the Gospel. We are a local church with a global mission of reaching the ends of the world for the Lord Jesus Christ.</span>    
                </div>
            </div>

            <div class="col-md-5 my-5">
                <h2 class="heading">Our Ministry</h2>
                <div class="px-5">
                    <span>The work to reach the lost with the Gospel has already begun through several Gospel crusades. <br>
                        The Life & Purpose Conference and Help From Above Conference are annually held to incite many to fulfill the purpose of God for their lives.</span>
                
                </div>
            </div>
            <div class="col-md-1">

            </div>
        </div>
        
    </div>
</section>
<section class="beliefs my-5">
    <div class="container mt-5">
        <h1 class="text-center">Our Beliefs</h1>
        <h3><span>“Love is of God, & God is Love”</span></h3>
        <div class="row mb-5">
            <div class="counter col-lg-1 col-sm-3 position-relative">
                <span class="position-absolute top-50 start-50 translate-middle"> 1</span>
            </div>
            <div class="col-lg-11 col-sm-9">
                <h4>Sharing God’s Love</h4>
                <span>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</span>
            </div>
        </div>
        <div class="row mb-5 flex-row-reverse">
            <div class="counter col-lg-1 col-sm-3 position-relative">
                <span class="position-absolute top-50 start-50 translate-middle"> 2</span>
            </div>
            <div class="col-lg-11 col-sm-9">
                <h4>Love your Neighbour</h4>
                <span>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</span>
            </div>
        </div>
        <div class="row mb-5">
            <div class="counter col-lg-1 col-sm-3 position-relative">
                <span class="position-absolute top-50 start-50 translate-middle"> 3</span>
            </div>
            <div class="col-lg-11 col-sm-9">
                <h4>We Love God</h4>
                <span>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</span>
            </div>
        </div>
    </div>
</section>

<section class="leadership mb-5">
    <div class="container">
        <h1 class="text-center">Leadership</h1>
        <h3><span>Know more about your leaders</span></h3>
        <div class="leader-profile row py-3">
            <div class="col-md-4">
                <img src="{%static 'images/profile-img.png'%}" class='img-fluid'alt="">
            </div>
            <div class="col-md-8">
                <div class="py-5 pt-5 mt-4">
                    <h2>Rev. Mubarak Kwota</h2>
                <h4>Head Pastor - Christ’s Love Church, Head Quaters</h4>
                <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                <a href="">Learn more</a>
                </div>
                
            </div>
        </div>
    </div>
</section>
{%endblock%}