{% extends '../../dist/templates/pages/base.html' %}
{% block page_title %}Christ's Love Church - Work for the Lord{% endblock %}
{% load static %}
{%block content%}
<section class="outreach-hero">
  <div class="outreach-banner">
      <div class="layer"></div>
      <div class="text-center outreach-heading row">
          <h1 class="display-5 fw-bold text-white">Welcome to our Outreach Gallery</h1>
          <span class="text-white mt-2 font-14">“I tell you the truth, whatever you did for one of 
            the least of these brothers of mine, you did it for me.”</span>
            <span class="text-white">Matthew 25:40</span>
      </div>
  </div>
</section>
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <h2 data-aos="fade-up">Projects</h2>
          <p data-aos="fade-up">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Education</li>
              <li data-filter=".filter-card">Health</li>
              <li data-filter=".filter-web">Roads & Highway</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="assets/img/portfolio/projects1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Education</h4>
              <p>Education</p>
              <a href="assets/img/portfolio/projects2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Education"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="assets/img/portfolio/projects3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Roads & Highway</h4>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, eligendi. l...</p>
              <a href="assets/img/portfolio/projects4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="assets/img/portfolio/projects1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Health </h4>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, eligendi. l...</p>
              <a href="assets/img/portfolio/projects3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Health "><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="assets/img/portfolio/projects4.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Roads & Highway</h4>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, eligendi. l...</p>
              <a href="assets/img/portfolio/projects1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Roads & Highway"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="assets/img/portfolio/projects3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Health</h4>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, eligendi. l...</p>
              <a href="assets/img/portfolio/projects4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="assets/img/portfolio/projects4.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Roads & Highway</h4>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, eligendi. l...</p>
              <a href="assets/img/portfolio/projects3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="assets/img/portfolio/projects3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Education</h4>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, eligendi. l...</p>
              <a href="assets/img/portfolio/projects3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="assets/img/portfolio/projects1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Education</h4>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, eligendi. l...</p>
              <a href="assets/img/portfolio/projects4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="assets/img/portfolio/projects3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Health</h4>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, eligendi. l...</p>
              <a href="assets/img/portfolio/projects1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

{%endblock%}