.outreach-hero{
  background-image: url("/static/images/outreach_banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80vh;

  .outreach-heading {
    padding-top: 10em;
  }
  .form-class{
    background-color: gray;
  }
}